<a href="https://colab.research.google.com/github/Shubhanker01/ai-course/blob/main/IntroductionToDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20

In [ ]:
print(a+b)

30

In [ ]:
# using pandas
import pandas as pd
df = pd.read_csv('sample_data/mnist_test.csv')
print(df)

      7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0     2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2     0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3     4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
...  .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
9994  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
9995  3  0    0    0    0    0    0    0    0    0  ...      0      0      0
9996  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
9997  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
9998  6  0    0    0    0    0    0    0    0    0  ...      0      0      0

      0.661  0.662  0.663  0.664  0.665  0.666  0.667
0         0      0      0      0      0      0      0
1         0      0      0      0      0      0      0
2         0      0      0      0      0      0      0
3         0      0      0      0      0      0      0
4         0      0      0      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...
9994      0      0      0      0      0      0      0
9995      0      0      0      0      0      0      0
9996      0      0      0      0      0      0      0
9997      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0

[9999 rows x 785 columns]

In [ ]:
df1 = pd.read_csv('sample_data/california_housing_test.csv')
print(df1)
df2 = pd.DataFrame({
    'longitude':[-122.05],
    'latitude':[37.37],
    'housing_median_age':[5.88],
    'total_rooms':[8.9],
    'total_bedrooms':[9.8],
    'population':[999.9],
    'households':[833.4],
    'median_income':[9.9],
    'median_house_value':[9.00]
})
dfMerged = df1.merge(df2)
print(dfMerged)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]
Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [ ]:
# importing pandas
import pandas as pd
# reading csv file
df = pd.read_csv('sample_data/Uncleandata.csv')
# remove duplicate rows
df = df.drop_duplicates()
# remove id containing nan
df = df.dropna(subset=['ID'])
# remove space and captalise letters
df['Name'] = df['Name'].str.strip().str.capitalize()
# preprocess gender
# create gender mapping first
gender_map = {
    'm':'Male',
    'male':'Male',
    'f':'Female',
    'female':'Female'
}
df['Gender'] = df['Gender'].str.lower().map(gender_map)
# preprocessing city
# creating city mapping
# dictionary
city_map = {
    'newyork':'New York',
    'new york':'New York',
    'ny':'New York',
    'la':'Los Angeles',
    'los angeles':'Los Angeles',
    'chicago':'Chicago',
    'boston':'Boston',
    'san francisco':'San Francisco',
    'sf':'San Francisco',
    'houston':'Houston',
    'hou':'Houston'
}
df['City']=df['City'].str.lower().map(city_map)

# changing salary representation
df['Salary'] = df['Salary'].replace('[\$,]','',regex=True).astype(float)
median_salary = df['Salary'].median()
df['Salary'] = df['Salary'].apply(lambda x: median_salary if x < 5000 else x)

def replaceNanWithZero(age):
    if pd.isna(age):
        return 0
    else:
        return age
df['Age'] = df['Age'].apply(replaceNanWithZero)

# find median age
median_age = df['Age'].median()
print(median_age)

def replace_extremeAge(age):
    if age > 60 or age < 18:
        return median_age
    else:
        return age
df['Age'] = df['Age'].apply(replace_extremeAge)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'],errors='coerce')
df['Joining_Date'] = df['Joining_Date'].dt.strftime('%d-%m-%y')
median_date = pd.to_datetime(df['Joining_Date']).median()
df['Joining_Date'] = df['Joining_Date'].fillna(median_date.strftime('%d-%m-%y'))


# fix height
df['Height'] = df['Height'].fillna(df['Height'].median())
# drop total sales
df = df.drop('Total_Sales_2025',axis=1)
# remove nan from fraud
df['Fraud'] = df['Fraud'].fillna(0)
# saving the processed data
df.to_csv('processed_data.csv',index=False)
print(df)

29.5
       ID     Name  Gender   Age           City    Salary Joining_Date  \
0   101.0    Alice    Male  25.0       New York   50000.0     01-12-21
1   102.0      Bob    Male  29.5       New York   60000.0     30-09-17
2   103.0  Charlie  Female  45.0       New York   70000.0     15-07-20
3   104.0     Dave  Female  39.0    Los Angeles   80000.0     30-09-17
4   105.0      Eve  Female  29.5    Los Angeles   90000.0     30-09-17
5   106.0    Frank    Male  30.0  San Francisco   10000.0     25-01-17
6   107.0    Grace    Male  29.0  San Francisco  120000.0     20-02-22
7   108.0    Henry  Female  27.0  San Francisco   65000.0     10-03-23
8   109.0   Isabel  Female  29.5         Boston   55000.0     21-05-19
9   110.0    Jason    Male  37.0         Boston   45000.0     30-09-17
10  111.0     Kate  Female  29.5        Chicago   76000.0     30-09-17
11  112.0      Leo  Female  29.5        Chicago   85000.0     30-09-17
12  113.0      Mia    Male  29.5        Houston   95000.0     11-12-15
13  114.0   Nathan    Male  34.0        Houston   65000.0     22-03-14
14  115.0   Olivia  Female  29.0        Houston  130000.0     14-07-13
15  116.0     Paul    Male  31.0        Houston   40000.0     05-06-12

    Height  Fraud
0     65.0    0.0
1    170.0    1.0
2    180.0    0.0
3     68.0    1.0
4     72.0    0.0
5    155.0    0.0
6     69.0    1.0
7     73.0    0.0
8    175.0    0.0
9     69.0    0.0
10   162.0    0.0
11    71.0    1.0
12    73.0    0.0
13   157.0    0.0
14   170.0    1.0
15    68.0    0.0

<>:39: SyntaxWarning: invalid escape sequence '\$'
<>:39: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-676797115.py:39: SyntaxWarning: invalid escape sequence '\$'
  df['Salary'] = df['Salary'].replace('[\$,]','',regex=True).astype(float)
/tmp/ipython-input-676797115.py:62: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  median_date = pd.to_datetime(df['Joining_Date']).median()

In [5]:
import pandas as pd
import numpy as np
data = {
    'scores':[38,83,23,82,91,70,101]
}
df = pd.DataFrame(data['scores'])
# print mean
print(df.mean())
# print median
print(df.median())
print(df.var())
print(df.std())

0    69.714286
dtype: float64
0    82.0
dtype: float64
0    824.571429
dtype: float64
0    28.715352
dtype: float64